@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/proxima-nova-regular.eot');
  src: url('../fonts/proxima-nova-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/proxima-nova-regular.woff') format('woff'), url('../fonts/proxima-nova-regular.ttf') format('truetype'), url('../fonts/proxima-nova-regular.svg#proxima_nova') format('svg');
  font-weight: normal;
  font-style: normal;
}
body,html{
    height: 100%;
  }

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }
  .sidebar {
    border-radius: 0;
  }
  .navbar-default {
    width: 22%;
    background: #fff;
    box-shadow: none;
    border-color: transparent;
    position: fixed;
    z-index: 10000;
    padding: 0 1.3%;
  }
  .main{
    padding: 10px 10px 0 10px;
  }
  .navbar * {
    border: none;
    border-style: none;
  }
  body, h3, h4, h5, h6, p, a, li, h2 {
    font-family: "proxima_nova";
    letter-spacing: 0.5px;
  }
  li {
    font-size: 110%;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: #fff;
  }  
  .navbar-header .navbar-brand {
    background-image: url('../img/1.png');
    background-repeat: no-repeat;
    background-position: 1px 1px;
    background-size: 77%;
    height: 80px;
    text-indent: 140%;
    overflow: hidden;
    white-space: nowrap;
    margin-left: -15px;
  }

  .navbar-nav {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .navbar-nav li {
    width: 90%;
  }
  .navbar-nav hr {
    margin-left: 5px;
    width: 220px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.2);
    height: 1px;
  }
  .navbar .contact p {
    color: black;
  }
  .navbar .contact img:nth-child(1) {
    margin-left: 70%;
  }
  .navbar .contact img:nth-child(2) {
    margin-left: 70%;
    margin-top: 115%;
  }
  .navbar .contact img:nth-child(3) {
    margin-left: 70%;
    margin-top: 185%;
  }
  .navbar .contact p:nth-child(1) {
    margin-top: 3%;
  }
  .navbar .contact p:nth-child(2) {
    margin-top: 9%;
  }
  .navbar .contact p:nth-child(3) {
    margin-bottom: 0;
    margin-top: 8%;
  }
  .navbar .contact p:nth-child(4) {
    margin-bottom: 20%;
  }
  .navbar .nav .contact .col-md-2 {
    width: 20%;
  }
  .navbar .nav .contact .col-md-10 {
    width: 75%;
  }

  .navbar-default .navbar-nav>li>a {
    color: black;
  }
  .navbar-default .navbar-nav>li>a:hover {
    color: #9EDDF9;
    font-size: 120%;
  }

  .navbar-default .navbar-nav .active a {
    background-image: none;
    box-shadow: none;
    background-color: transparent;
    color: #9EDDF9;
    font-weight: bold;
    font-size: 120%;
  }
  .navbar-default .navbar-nav .active a:hover {
    background-image: none;
    box-shadow: none;
    background-color: transparent;
    color: #9EDDF9;
  }

  .glyphicon {
    font-size: 16px;
  }

  .social-media {
    padding-left: 0;
    margin-left: 20px;
    margin-bottom: 25px;
  }
  .social-media li {
    display: inline-block;
  }

  .social-media a {
    width: 40px;
    height: 40px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    background-image: url('../img/social-media.png');
  }

  .social-media .facebook a {
    
  }
  .social-media .facebook a:hover {
    opacity: 0.7;
  }
  .social-media .twitter a {
    background-position: -44px 0;
    color: black;
    
  }
  .social-media .twitter a:hover {
    background-position: -44px 0;
    opacity: 0.7;
  }
  .social-media .google a {
    background-position: -88px 0;
    
  }
  .social-media .google a:hover {
    background-position: -88px 0;
    opacity: 0.7;
  }

  .copyright li {
    width: 100%;
    list-style: none;
    margin-left: -15px;
    font-size: 77%;
    color : black;
  }

  @media (max-width: 240px){
    .navbar {
        margin-bottom: 5px;
        width: 100%;
      }
      .navbar-toggle {
        margin: 3% 0;
      }
      .navbar-header .navbar-brand {
        height: 48px;
        margin-left: 10px;
        width: 71%;
        width: 65%;
        margin-top: 3%;
        margin-bottom: -3%;
      }
      .navbar-default .navbar-collapse {
        margin-left: -10%;
      }
      .navbar-nav {
        margin-top: 0px;
        margin-bottom: 0;
      }
      .navbar-nav hr {
        margin-left: 5px;
        width: 80%;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.2);
        height: 1px;
        margin-top: 7px;
        width: 90%;
      }
      .navbar-nav > li > a {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 12px;
      }
      .navbar .contact {
        display: none;
      }
      .navbar .social-media {
        margin-bottom: 10px;
        margin-top: -15px;
      }
  }

  @media (min-width: 241px) and (max-width: 320px){
    .navbar {
        margin-bottom: 5px;
        width: 100%
      }
      .navbar-header .navbar-brand {
        height: 48px;
        margin-left: 10px;
        width: 60%;
      }
      .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
      }
      .navbar-nav hr {
        margin-left: 5px;
        width: 85%;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.2);
        height: 1px;
        margin-top: 7px;
      }
      .navbar-nav > li > a {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 12px;
      }
      .navbar .contact {
        display: none;
      }
      .navbar-nav .social-media {
        margin-bottom: 15px;
      }
  }

  @media (min-width: 321px) and (max-width: 480px){
    .navbar {
        padding-top: 5px;
        margin-bottom: 10px;
        width: 100%
      }
      .navbar-header .navbar-brand {
        height: 55px;
        margin-left: 10px;
        background-size: 145px;
        width: 60%;
      }
      .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10px;
      }
      .navbar-nav hr {
        margin-left: 5px;
        width: 102%;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.2);
        height: 1px;
        margin-top: 7px;
      }
      .navbar-nav > li > a {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        text-align: center;
      }
      .navbar .contact {
        display: none;
      }
      .social-media {
        margin-bottom: 15px;
        text-align: center;
        padding-right: 5%;
        margin-left: 0;
      }
      .copyright {
        text-align: center;
        padding-right: 5%;
        margin-left: 0;
      }
  }

  @media(min-width: 481px) and (max-width: 640px){
    .navbar {
        padding-top: 5px;
        margin-bottom: 10px;
        width: 100%;
      }
      .navbar-header .navbar-brand {
        height: 60px;
        margin-left: 10px;
        background-size: 155px;
        width: 60%;
      }
      .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10px;
      }
      .navbar-nav hr {
        margin-left: 5px;
        width: 105%;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.2);
        height: 1px;
        margin-top: 7px;
      }
      .navbar-nav > li > a {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        text-align: center;
      }
      .navbar .contact {
        display: none;
      }
      .social-media {
        margin-bottom: 15px;
        margin-left: 36%;
      }
      .copyright {
        margin-left: 17%;
        font-size: 130%;
      }
  }

  @media (min-width: 641px) and (max-width: 764px){
    .navbar {
        padding-top: 5px;
        margin-bottom: 10px;
        width: 100%
      }
      .navbar-header .navbar-brand {
        height: 60px;
        margin-left: 10px;
        background-size: 165px;
        width: 80%;
      }
      .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10px;
      }
      .navbar-nav hr {
        margin-left: 5px;
        width: 105%;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.2);
        height: 1px;
        margin-top: 7px;
      }
      .navbar-nav > li > a {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        text-align: center;
      }
      .navbar .contact {
        display: none;
      }
      .social-media {
        margin-bottom: 15px;
        margin-left: 37%;
      }
      .copyright {
        margin-left: 26%;
        font-size: 100%;
      }
  }
  @media (min-width: 765px) and (max-width: 768px) {
    nav.sidebar {
      height: 13% !important;
      width: 100%;
      margin-left: 0 !important;
    }
    nav.sidebar .navbar-brand {
      width: 80% !important;
      margin-top: 0 !important;
    }
    .navbar-default .navbar-collapse {
      background-color: white;
    }
    .navbar .contact .col-md-2 {
      width: 7%;
    }
    .navbar .contact img:nth-child(1), .navbar .contact img:nth-child(2), .navbar .contact img:nth-child(3) {
      margin: 0;
    }
    .navbar .contact p:nth-child(1), .navbar .contact p:nth-child(2), .navbar .contact p:nth-child(3) {
      margin: 0 0;
    }
    .navbar .social-media {
    }
  }
@media (min-width: 765px) and (max-width: 991px){

      /*navbar*/
      .navbar {
        padding-top: 5px;
        margin-bottom: 10px;
      }
      .navbar-header .navbar-brand {
        height: 60px;
        margin-left: 10px;
        background-size: 165px;
      }
      .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10px;
      }
      .navbar-nav > li > a {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
      }
      .navbar-nav .social-media {
        margin-bottom: 15px;
      }
    }
 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-top: 10px;
      margin-left: 20px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding: 7px 10px;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    nav.sidebar{
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
      border-color: none;
      box-shadow: none;
      border-width: 0 0;
      background-color: none;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }
  @media (min-width: 992px) and (max-width: 1329px){
     /*navbar*/
      .navbar {
        padding-top: 5px;
        margin-bottom: 10px;
      }
      .navbar-header .navbar-brand {
        height: 70px;
        margin-left: 10px;
        background-size: 180px;
      }
      .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10px;
      }
      .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 5px;
        font-size: 15px;
      }
      .navbar-nav .social-media {
        margin-bottom: 15px;
      }
    }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }